.vscode

# capi/build
# capi/dist
capi/treeseg_ext.egg-info
capi/build/standalone

python/__pycache__
python/treesegmentation/__pycache__

sample_data/ept*
sample_data/VernonLA_306_nno.las
sample_data/s03450w06540_nnoc.las
sample_data/s03450w06540_las.las
sample_data/004_las.las
sample_data/306_las.las

treeseg_output
