p {
    margin: 0em 0 0.25em 0;
}

h2 {
    margin: 0 0 0.5em 0;
}

h3 {
    margin: 1em 0 0.1em 0;
}

#flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#flex-container > * > * {
    flex: 1 100%;
}

#sketch-controls {
    margin: 0px 0px 0px 20px;
}

@media all {
    #sketch-controls { order: 1; }
    #treeseg-controls { order: 2; }
}

#display-info {
    width: 500px;
}

#display-info > * > tr > th {
    text-align: left;
}

#display-info > * > tr > td {
    width: 25%;
}